@import '../../sass/variables'
@import '../../sass/mixins'

$panel-bottom: $body-padding
$panel-bottom-margin: $body-padding
$panel-width: $container-width
$panel-height: 96px
$panel-inner-grid-gutter: 32px
$album-width: $panel-height
$panel-shadow: $card-shadow
$control-button-size: 48px
