@import './utilities'
.controlPanel
  +centerByAbsolute($panel-width)
  bottom: $panel-bottom
  width: $panel-width
  height: $panel-height
  padding: 0 !important
  margin-bottom: $panel-bottom-margin
.inner
  align-items: center
.albumCell
  height: $album-height
.songInfo
  display: flex
  flex-direction: column
  justify-content: space-around
  span
    +truncateText()
.songName
  +setFontScale(2)
.songSinger
  +setFontScale(1)
.controlButtonGroup
  display: flex;
  justify-content: space-around
  align-items: center
  +setFontScale(5)
  button
    font-size: inherit
    padding: 0
    min-width: $control-button-size
    height: $control-button-size
    border-radius: $control-button-size
    span
      height: inherit
.tuning
  display: flex
  justify-content: flex-end
  align-items: center
.tuningIcon
  +setFontScale(2, 1)
  margin-right: 16px
  cursor: pointer
.volumeControl
  display: flex
  align-items: center
  margin-right: 16px
  width: 50%
.volumeIcon
  margin-right: 6px
