@import './utilities'
.controlPanel
  +centerByAbsolute($panel-width)
  width: $panel-width
  bottom: $panel-bottom
  // height: $panel-height
  padding: 0 !important
  margin-bottom: $panel-bottom-margin
  // overflow: hidden
.inner
  align-items: center
.albumCell
  height: $album-height
.songInfo
  display: flex
  flex-direction: column
  justify-content: space-around
  height: $panel-height
  span
    +truncateText()
.songName
  +setFontScale(2)
.songSinger
  +setFontScale(1)
.controlButtonGroup
  display: flex
  justify-content: space-around
  align-items: center
  +setFontScale(5)
  button
    font-size: inherit
    padding: 0
    min-width: $button-size
    height: $button-size
    border-radius: $button-size
    span
      height: inherit
.tuning
  display: flex
  justify-content: flex-end
  align-items: center
.time
  display: flex
  flex-direction: column
.tuningIcon
  +setFontScale(2, 1)
  cursor: pointer
.volumeControl
  display: flex
  align-items: center
  width: 50%
.tuningIcon, .volumeControl
  margin-right: 12px
.volumeIcon
  margin-right: 6px
.progress
  position: relative
