@import '../../sass/variables'
@import '../../sass/mixins'

.progressBar
  cursor: pointer
.thumb
  position: relative
  user-select: none
  transform: translate3D(0,0,0)
  transition: transform .2s cubic-bezier(0.45, 0.05, 0.55, 0.95)
  &[is-mouse-down=true]
    transition: none
  .chip
    position: absolute
    cursor: pointer
    bottom: 8px
    height: 24px
    font-size: 10px
    transform: translateX(-50%)

